* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(187, 184, 207);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 800px;
  color: yellow;
}
.todo-app {
  width: 500px;
  height: 300px;
  background-color: rgb(42, 42, 111);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}
.todo-form input {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.todo-filter-form input {
  width: 20px;
  height: 20px;
}
.todo-app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 20px solid #3011ac;
  border-left: 20px solid #3011ac;
  transition: all 0.2s ease-in;
  z-index: -1;
  opacity: 0;
}

.todo-app::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-bottom: 20px solid #3011ac;
  border-right: 20px solid #3011ac;
  transition: all 0.2s ease-in;
  z-index: -1;
  opacity: 0;
}

.todo-app:hover::before {
  top: -50px;
  left: -50px;
  opacity: 0.2;
}

.todo-app:hover::after {
  bottom: -50px;
  right: -50px;
  opacity: 0.2;
}
ul > li {
  list-style-type: none;
}

/* CSS */
button {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #ffffff;
  font-family: Phantomsans, sans-serif;
  font-size: 5px;
  max-width: 100%;
  padding: 5px 5px;
  height: 22px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

button:active,
button:hover {
  outline: 0;
}

@media (min-width: 32px) {
  button {
    font-size: 10px;
    min-width: 20px;
  }
}
input[type="radio"] {
  --s: 20px; /* control the size */
  --c: #009688; /* the active color */

  height: var(--s);
  aspect-ratio: 1;
  border: calc(var(--s) / 8) solid #939393;
  padding: calc(var(--s) / 8);
  background: radial-gradient(farthest-side, var(--c) 94%, #0000) 50%/0 0
    no-repeat content-box;
  border-radius: 50%;
  outline-offset: calc(var(--s) / 10);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  transition: 0.3s;
}
input[type="radio"]:checked {
  border-color: var(--c);
  background-size: 100% 100%;
}

input[type="radio"]:disabled {
  background: linear-gradient(#939393 0 0) 50%/100% 20% no-repeat content-box;
  opacity: 0.5;
  cursor: not-allowed;
}

@media print {
  input[type="radio"] {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    background: none;
  }
}

label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.todo-text {
  flex-grow: 1;
  margin-right: 10px;
}

.todo-checkbox {
  margin-right: 10px;
}

button.todo-edit-button,
button.todo-delete-button {
  margin-left: 5px; /* Khoảng cách giữa các nút */
}
.todo-footer {
  text-align: center;
}
.todo-list {
  padding: 10px 20px;
  max-height: 150px;
  overflow-y: auto;
  padding: 5px;
  border: 1px solid #302b8b;
  border-radius: 5px;
}

.todo-delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
